<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Country List</title>
	</head>
	<body>
        <div class="main">
            <h3><u>Countries</u></h3>
 
            {% for country in countries %}
         
            <p>Country: {{ country.country }}</p>
            <p>Continent: {{ country.continent }}</p>
            <hr/>
         
            {% endfor %}
         
        </div>
    </body>
</html>