<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/large_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/small_style.css' %}">
    <!-- CSS (Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>ancestral | Home</title>
</head>
<body id="homeBackground" class="background">
    <div id="homeContainer">
        <!-- ADD MODAL -->
        <!-- <div id="modal" class="modal open">
            <div class="modal-container">
                <div class="modal-content">
                    <img src="{% static 'images/Monkey-Uganda-By-Francesco-Ungaro-Unsplash.jpg' %}" 
                    alt="A monkey with brown eyes looking down into the camera with green flora in the background.">
                    <h4>Foundational Human Belief System</h4>
                    <p>
                    Animism is the attribution of a soul to both animate beings and inanimate things. For ages, 
                    indigenous communities around the world have coexisted with their natural environments through 
                    the honoring of spirits. Please take a look around and keep an open mind to ancestral wisdom.
                    Happy searching!
                    </p>
                    <a href="https://www.encyclopedia.com/philosophy-and-religion/other-religious-beliefs-and-general-terms/religion-general/animism" target="blank">
                        learn more
                    </a>
                </div>
            <span id="close-modal" class="close-modal">&times;</span>
            </div>
        </div> -->
        
        <!-- NAV TABS -->
        <div class="navTabsDiv">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homePage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'africa' %}">Africa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Antarctica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Asia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Australia/Oceania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Europe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">North America</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">South America</a>
                </li>
            </ul>
        </div>

        <div id="searchBarDiv">
            <form method="get" action="{% url 'results' %}">
                <div class="table"> 
                    <div class="tableData"> <!-- table data -->
                        <input name="q" type="text" placeholder="Search" required>
                    </div>
                    <div class="tableData" id="submit-searchBarDiv">
                        <button type="submit" id="submitButton">
                            <div id="submit-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
            <div id="searchCriteriaDiv">
                <h2>Example search criteria:</h2>
                <ul id="criteria">
                    <li>Animal</li>
                    <li>Animal classification</li>
                    <li>Country</li>
                    <li>Sacred site</li>
                </ul>
            </div>
        </div>
    </div>


<!-- SCRIPT/S -->
<script src="{% static 'js/modal.js' %}"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script href="{% static '/ancestral/totemProject/totemApp/static/totemApp/scripts/script.js' %}"></script>
</body>
</html>