<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Invertebrate List</title>
	</head>
	<body>
        <div class="main">
            <h3><u>Invertebrates</u></h3>
 
            {% for invertebrate in invertebrates %}
         
            <p>Classification: {{ invertebrate.classification }}</p>
            <p>Animal: {{ invertebrate.animal }}</p>
            <p>Country: {{ invertebrate.country }} | Continent: {{ invertebrate.country.continent }}</p>
            <p>Symbolic Meaning: {{ invertebrate.meaning }}</p>
            <p>Keywords: {{ invertebrate.keywords}}</p>
            <hr/>
         
            {% endfor %}
         
        </div>
    </body>
</html>