<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>ancestral | Delete Vertebrate</title>
</head>
<body>
    <div class="main">
        <h3><u>Delete Vertebrate</u></h3>
        
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
    
            <p>Are you sure you want to delete "{{ vertebrate.animal }}"?</p>

            <br>

            <button><a href="{% url 'vertebrateIndex' %}">No</a></button>
            
            <input type="submit" value="Yes">
        </form>
    </div>
</body>
</html>