<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vertebrate List</title>
	</head>
	<body>
        <div class="main">
            <h3><u>Vertebrates</u></h3>
 
            {% for vertebrate in vertebrates %}
         
            <p>Classification: {{ vertebrate.classification }}</p>
            <p>Animal: {{ vertebrate.animal }}</p>
            <p>Country: {{ vertebrate.country }} | Continent: {{ vertebrate.country.continent }}</p>
            <p>Symbolic Meaning: {{ vertebrate.meaning }}</p>
            <p>Keywords: {{ vertebrate.keywords}}</p>
            <hr/>
         
            {% endfor %}
         
        </div>
    </body>
</html>