<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vertebrate List</title>
	</head>
	<body>
        <div class="main">
            <h3><u>Vertebrates</u></h3>
 
            {% for vertebrate in vertebrates %}
         
            {{ vertebrate }}
            <br>
            <button type="button"><a href="updateVertebrate/{{vertebrate.id}}">Edit</a></button>
            <button type="button"><a href="deleteVertebrate/{{vertebrate.id}}">Delete</a></button>
            <hr/>
         
            {% endfor %}
         
            <button type="button"><a href="create">Back to Create Entry</a></button>
        </div>
    </body>
</html>